.title-illus{
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  margin: 0px 0px 16px;
}

.title2{
  color: rgb(8, 27, 75);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 110%;
  text-align: center;
  max-width: 600px;
}

.title3{
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 110%;
  max-width: 600px;
  text-align: left;
}

.title3-card{
  color: rgb(8, 27, 75);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33333;
}

.title4{
  color: rgb(8, 27, 75);
}

.text{
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 0 0;
  max-width: 700px;
}

.text-column{
  margin-left: 2rem;
  margin-right: 2rem;
}

.subtext-dark{
  color: rgb(77, 91, 124);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  max-width: 700px;
}
